body{
    margin: 0;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 25px;
    color: white;
    background-color: #201f1f;
}

p {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.scoreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
}

.resultContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 200px;
}

.playerContainer,.computerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playerScore, .computerScore{
    align-items: center;
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#playerDisplay,#computerDisplay {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 240px ;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.versus {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.roundInfo {
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
}

.selectionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    padding-bottom: 60px;
    gap: 30px;
}

.result {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* Button CSS from --> Paper CSS */
#rock,#paper,#scissor {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
  height: 200px;
  font-size: 100px;
}

button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.footer {
    margin-top: 20px;
    font-size: 18px;
    color: #201f1f;
    text-align: center;
    align-items: center;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.endGameContainer {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--primary-dark);
    text-align: center;
    font-size: 30px;
    user-select: none;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
}